body {
  font-family: "Lato", sans-serif;
  color: cornsilk;
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 30px auto;
  background-color: transparent;
}
h1 {
  font-size: 2em;
  font-weight: 800;
  text-shadow: -3px 3px 10px rgb(72, 151, 175);
}
h2 {
  font-size: 1em;
  font-weight: 600;
  text-align: center;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
.main_temp {
  font-size: 3em;
  font-weight: 500;
  text-shadow: -3px 3px 10px rgb(0, 0, 0);
}
.fa-cloud {
  font-size: 2.5em;
  float: center;
  text-align: center;
  display: block;
}
.fa-sun {
  font-size: 3em;
  color: #ffe168;
}
.fa-magnifying-glass {
  float: right;
}
.container {
  background-color: rgba(248, 248, 248, 0.075);
}
.container-fluid {
  background-color: transparent;
}
.cent {
  text-align: right;
}
#myVideo {
  min-width: 100vw;
  min-height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.card {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.temperature {
  text-align: center;
}

#tempValue {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #f0eeee;
  font-size: 16px;
  font-weight: 400;
  height: 19px;
  line-height: 1;
  list-style: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(236, 229, 229);
}
.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}
.weather-image {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature {
  position: relative;
  font-size: 13px;
}

.temp-minimum {
  opacity: 0.5;
  margin: 2px;
}
small {
  margin-left: 40px;
}
.daily {
  background-color: rgba(9, 55, 73, 0.062);
}
